* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenedor_formulario {
    width: 320px;
    height: 420px;
    background-color: #000000;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


/* Diseño Responsive */

@media screen and (max-width:850px) {
    main {
        margin-top: 50px;
    }
    .caja_fondo {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja_fondo div {
        margin: 0px;
        position: absolute;
    }
    /* Formulario */
    .contenedor_login-registro {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor_login-registro form {
        position: relative;
    }
}